[Desktop Entry]
Name=LovyPC
Comment=Controlla il tuo PC Windows e TramaMind
Exec=gnome-terminal -- bash -c "pcwin status; exec bash"
Icon=preferences-system-network
Terminal=false
Type=Application
Categories=Utility;
